* {
    margin: 0px;
}

.first {
    background-image: url(../assets/Hero-bg.png);
}

.hero {
    text-align: center;
    margin: 26px 221px 44px 221px;
    padding: 20px;
}

.title {
    font-weight: 800px;
    font-size: 48px;
}

.description {
    font-size: 17px;
    font-weight: 400px;
    margin: 20px 110px 40px 110px;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 21px 24px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
}

/* second */
.second {
    align-items: center;
    justify-content: center;
    padding: 80px 97px;

}

.web-dev {
    border-radius: 16px;
    margin: 40px;
    padding: 80px 97px;
    background: rgba(13, 19, 33, 0.02);
}

.title-web {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}

.web-disc {
    text-align: center;
    font-size: 18px;
    opacity: 0.7;
    font-weight: 500;
    margin-bottom: 48px;
}

/* todo */
.todo {
    display: flex;
    padding: 48px;
}

.w-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.w-txt {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
}

.w-btn {
    margin-top: 5px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
}

.todo-1 {
    display: flex;
    padding: 49px 48px;
}

.w-title-1 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.w-txt-1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

/* third */
.third {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: center;
    padding: 80px 145px;
}

.video {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 5px solid rgba(13, 19, 33, 0.2);
    border-radius: 26px;
    margin-bottom: 10px;

}

/* target */
.target-container {
    justify-content: space-around;
    display: flex;
    padding: 130px;
    margin: 40px 0px;
    gap: 24px;
}

.target {
    font-family: Azeret Mono;
    background-color: burlywood;
    border-radius: 15px;
    padding: 40px;
    justify-content: space-between;
}

.target-text {
    margin-bottom: 20px;
}

.link {
    color: black;
}

.target-1 {
    font-family: Azeret Mono;
    background-color: burlywood;
    border-radius: 15px;
    padding: 40px;
}

.target-2 {
    font-family: Azeret Mono;
    background-color: burlywood;
    border-radius: 15px;
    padding: 40px;
}

/* support */
.support {
    display: flex;
    flex-direction: column;
    padding: 64px 48px;
    width: auto;
    height: 330px;
    background-size: cover;
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    border-radius: 16px;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.supp {
    color: rgb(255, 255, 255);
    text-align: center;
}

.input-container {
    width: 1044px;
    height: 185px;
}

.input-box {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    width: 548px;
    height: 57px;
    background: rgb(255, 255, 255);
}

.input {
    margin-top: 20px;
    text-align: center;

}

.sub-btn {
    font-weight: 600px;
    border-radius: 8px;
    width: 120px;
    height: 57px;
    background: rgb(255, 255, 255);
}

/* footer */
.footer-container {
    border-radius: 16px;

    background: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-between;
    padding: 32px 150px;
}